:root {
  --hijau: #4C977D;
  --bg: #DDEFED;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.3rem;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  min-height: 4000px;
  background-color: var(--bg);
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/background/bg2.webp);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.hero h1 {
  font-family: "Engagement", Arial, Helvetica, sans-serif;
  font-size: 4.7rem;
}

.hero h4 {
  font-size: 1.5rem;
}

.hero p {
  font-size: 1.3rem;
}

.hero a {
  color: var(--hijau);
  background-color: #fffc4c;
}

.hero a:hover {
  background-color: var(--hijau);
  color: white;
}

.nama-tamu {
  font-weight: 700;
  font-size: larger;
  background: linear-gradient(45deg, #d4af37, #f9e076, #c9a227);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 2px rgba(0,0,0,0.25);
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
  font-size: 1.1rem;
}

.mynavbar a:hover {
  color: var(--hijau);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: 'Carattere', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.mynavbar .nav-link {
  color: #2A402B;
  text-transform: uppercase;
}

.home2 {
  background-image: url(../img/background/pasang-cincin3.webp);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-top: -3.8rem;
  padding-top: 7rem;
  padding-bottom: 10rem;
}

.home {
  min-height: 100vh;
  margin-top: -3.8rem;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.home h2,
.home2 h2,
.info h2,
.story h2,
.rsvp h2,
.turutmengundang h2 {
  color: var(--hijau);
  font-family: 'Engagement', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-style: dotted;
  text-decoration-thickness: from-font;
}

.basmalah {
  width: auto;
  height: 80px;
  margin-bottom: 20px;
}

.quran p {
  font-size: 75% !important;
  font-style: oblique;
  padding: 3rem;
}

.panggilan a {
  background: var(--hijau);
  text-decoration: none;
  color: #032505;
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.panggilan a:hover {
  background: #8a9c8a;
}

.home2 h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home2 p {
  font-size: 1.3rem;
  color: #2A402B;
}

.home2 .couple {
  margin-top: 20px;
}

.home2 .couple h3 {
  font-family: 'Engagement';
  font-size: 2.4rem;
  color: var(--hijau);
}

.home2 .couple img {
  width: 100%;
}

.info {
  background-image: url(../img/background/bg02.webp);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-top: -3.8rem;
  padding-top: 7rem;
  padding-bottom: 5rem;
  color: #2A402B;
}

.info .card {
  background-color: #4c977d23;
  border: none;
}

.info .card-body {
  font-size: 1.1rem;
  font-weight: 600;
}

.info .card-footer {
  font-size: 1rem;
  border-top: 1px solid #ccc;
  line-height: 1.4rem;
}

.turutmengundang {
  background-color: #ccc;
  background-image: url(../img/background/bg02.webp);
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

.story,
.rsvp,
.turutmengundang {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.story span {
  text-transform: uppercase;
  color: #2A402B;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.card .kisah-kami {
  padding: 3rem !important;
}

.rsvp {
  background-color: var(--bg);
  background-image: url(../img/background/hp1.webp);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-top: -3.8rem;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.rsvp p,
.rsvp form label {
  color: #2A402B;
}

.rsvp button {
  background-color: var(--hijau);
  color: white;
  border: 1px solid var(--hijau);
}

.rsvp button:hover {
  background-color: #fffc4c;
  color: var(--hijau);
  border: 1px solid #fffc4c;
}

footer {
  padding: 2rem;
  background-color: var(--hijau);
  color: white;
  font-size: 1rem;
}

footer a {
  color: rgb(54, 7, 7);
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.logoasa img {
  width: 100px;
}

.audio-icon-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 3.5rem;
  position: fixed;
  bottom: 2.5rem;
  left: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.simply-countdown>.simply-section .simply-amount,
.simply-countdown>.simply-section .simply-word {
  color: white;
}

.form-control:focus,
.form-control:active,
.form-label:focus,
.form-label:active {
  box-shadow: none;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Media Query */
/* Extra large */
@media (min-width: 1200px) {}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 80%;
  }

  .simply-countdown>.simply-section {
    padding: 70px;
  }
}

@media (min-width: 779px) {
  #menu-hp {
    display: none;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 90%;
  }

  .simply-countdown>.simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .home p {
    font-size: 1.1rem;
  }

  .info .card-footer {
    font-size: 1.1rem;
  }

  .info .card-body {
    font-size: 1.3rem;
  }

  #menulaptop {
    display: none;
  }

  #navbar-phone {
    font-size: 2rem;
  }

  .menu2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .menu2 .nav-pills {
    background: #213522ab;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu2 .nav-link {
    color: #fff;
  }

  .card .kisah-kami {
    padding: 2rem !important;
  }
}

/* mobile phone */
@media (max-width: 576px) {

  .home p,
  .home2 p,
  .info p,
  .story p,
  .rsvp p,
  .turutmengundang p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .form-hadir {
    width: 90%;
    padding: 1.8rem;
    background: #4c977d85;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
  }

  .form-hadir h2 {
    font-size: 2.2rem;
    text-decoration: none;
    color: #fff;
  }

  .doa-doa {
    height: 35rem;
    overflow: auto;
  }

  .rsvp button {
    background-color: #fffc4c;
    color: black;
    border: 1px solid white;
  }

  .rsvp button:hover {
    background-color: #fff;
    border: 1px solid #4C977D;
  }

  .rsvp p {
    color: #000;
  }

  .rsvp .form-label {
    color: #fff;
    border-bottom: #444;
    font-weight: 600;
  }

  .hero h1 {
    font-family: "Engagement", Arial, Helvetica, sans-serif;
    font-size: 3.4rem;
  }

  .hero h4 {
    font-size: 1.4rem;
  }

  .hero::before {
    background-image: url(../img/background/hp1.webp);
  }

  .hero p {
    font-size: 1rem;
  }

  .quran p {
    line-height: 1.1rem;
  }

  .simply-countdown>.simply-section {
    padding: 35px;
    margin: 4px;
  }

  .simply-countdown>.simply-section .simply-amount {
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: bolder;
  }

  .simply-countdown>.simply-section .simply-word {
    font-size: 0.8rem;
  }

  #menulaptop {
    display: none;
  }

  .info .card-body {
    font-size: 1.1rem;
  }

  i.bi.bi-clock.d-block.waktu,
  i.bi.bi-calendar3.d-block,
  i.bi.bi-clock.d-block,
  .pukulnya {
    display: none !important;
  }

  .tanggalnya {
    font-family: "Cookie", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: lighter;
  }

  .waktu {
    font-weight: normal;
  }

  .harinya {
    font-size: 1.1rem;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  .home {
    margin-top: 0;
  }

  .home .couple h3 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .home2 {
    padding-bottom: 10rem;
  }

  .home h2,
  .home2 h2,
  .info h2,
  .story h2 {
    font-size: 2.2rem;
    text-decoration: none;
    color: #000;
  }

  .home,
  .home2,
  .story,
  .rsvp,
  .info,
  .turutmengundang {
    padding-top: 4rem;
  }

  #navbar-phone {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .story {
    background-image: url(../img/background/hp1.webp);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
  }

  .turutmengundang,
  .info {
    background-color: #DDEFED;
    background-image: url(../img/background/hp1.webp);
    padding-bottom: 15rem;
    padding-top: 10rem;
  }

  .rsvp .row {
    margin-top: 6rem;
  }

  footer {
    padding: 2rem;
  }

  .basmalah {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
  }

  .card .kisah-kami {
    padding: 1.5rem !important;
  }

}
